body {

}
.display-block-content-row {
    display: flex;
    width: 100%;
}

.display-block-image {
    min-height: 75px;
    max-height: 300px;
    min-width: 75px;
    max-width: 300px;
}
    .thumbnail > .title {
        color: #212121;
        font-size: 1.25rem;
    }
.display-block-content-row > .display-block-content {
    height: inherit;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    flex: 1; /* additionally, equal width */
    cursor: pointer;
    padding-bottom: 20px;
}

.bottom-content {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.display-block-content > img {
    width: 100%;
}